.square_wrapper {
  margin-bottom: 42px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.square {
  transform: rotate(45deg);
}

.square1 {
  position: relative;
  top: -9px;
}

#intro_container {
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 17vh 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--primary-gryffindor-color) 0%,
    var(--primary-dark-bg) 100%
  );
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main_logo {
  margin-bottom: 42px;
}

.i_am_a {
  margin: 0;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 23px;
  font-family: var(--primary-heading-font);
}

.house_name {
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 42px;
  font-family: var(--primary-hp-heading-font);
}

.tagline {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 42px;
  font-family: var(--primary-heading-font);
}

.desc_para {
  margin: 0;
  font-size: 28px;
  /* font-weight: 900; */
  margin-bottom: 64px;
  width: 80%;
  font-family: var(--primary-para-font);
}

@media only screen and (max-width: 1023px) {
  #intro_container {
    padding: 13vh 13px;
  }

  .square_wrapper {
    margin-bottom: 22px;
  }

  .main_logo {
    margin-bottom: 42px;
  }

  .i_am_a {
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 18px;
  }

  .house_name {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  .tagline {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 42px;
  }

  .desc_para {
    margin: 0;
    font-size: 18px;
    /* font-weight: 900; */
    margin-bottom: 64px;
    width: 100%;
  }
}
