.container {
  width: min(1200px, 80%);
  padding: 13px 32px;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 36px;
  text-align: left;
}

.project_name {
  font-size: 32px;
}

@media only screen and (max-width: 1023px) {
}
