.container {
  position: relative;
}

.bg_particles {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vh - 80px);
  /* z-index: -1; */
  opacity: 0.42;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  padding-bottom: 69px;
  box-sizing: border-box;
  z-index: 1;
}

.heading {
  font-size: 56px;
  color: var(--primary-white);
  user-select: none;
  font-family: var(--primary-hp-heading-font);
  margin: 0;
}

.para {
  color: var(--primary-white);
  font-size: 36px;
  font-weight: 700;
  user-select: none;
  width: 800px;
  font-family: var(--primary-para-font);
}

.name {
  color: var(--primary-blue);
}

.explore_btn {
  border: 2px solid var(--primary-grey);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin-top: 27px;
  z-index: 1;
}

.down_icon {
  font-size: 26px;
  color: var(--primary-grey);
}

.explore_btn:hover {
  background-color: var(--primary-white);
  border-color: var(--primary-white);
}

.explore_btn:hover .down_icon {
  color: var(--primary-dark-bg);
}

@media only screen and (max-width: 1023px) {
  .heading {
    font-size: 32px;
  }

  .para {
    width: 80%;
    font-size: 20px;
  }
}
