.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.square {
    transform: rotate(45deg);
    margin-bottom: 42px;
  }
