.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.header_section {
  color: var(--primary-white);
  padding: 5vh 0;
}

.header_para {
  font-size: 22px;
  font-weight: 500;
  color: var(--primary-grey);
  margin-bottom: 42px;
}

/* PROJECTS */
.projects_container {
  border: 1px solid red;
  width: 100%;
  box-sizing: border-box;
  padding: 7vh 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
