.heading {
  font-size: 42px;
  display: inline-block !important;
  font-family: var(--primary-hp-heading-font);
}

.heading_dark {
  color: var(--primary-dark-bg);
}

.heading_light {
  color: var(--primary-white);
}

.heading_light:after {
  border-bottom: 2px solid var(--primary-hufflepuff-color);
  content: "";
  display: block;
  width: 75%;
  margin-left: 25%;
  position: relative;
  top: -10px;
}
