.link {
  color: var(--primary-green);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  /* display: inline-block; */
}

.link:hover {
    color: var(--primary-blue);
}

/* .link:after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: solid 3px var(--primary-blue);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.link:hover:after {
  transform: scaleX(0.1);
} */
