.heading {
  font-size: 36px;
  font-family: var(--primary-heading-font);
  text-transform: capitalize;
}

.heading::selection {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}
.para {
  font-size: 22px;
  font-family: var(--primary-para-font);
  font-weight: 600;
  margin: 10px 0px;
  padding: 0;
  word-spacing: 5px;
  /* text-align: justify; */
}

.heading_light {
  color: var(--primary-white);
}

.para_light {
  color: var(--primary-grey);
}

.para_light::selection {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

@media only screen and (max-width: 1023px) {
  .heading {
    font-size: 24px;
  }

  .para {
    font-size: 18px;
  }
}
