:root {

  /* Primary colors */
  --primary-dark-bg: #03182a;
  --primary-blue: #1890ff;
  --primary-purple: #4b6cc1;
  --primary-grey: #bbbdbb;
  --primary-white: #fafafa;
  --primary-black: #181616;
  --primary-green: rgb(86, 180, 86);




  /* Distance Variables */
  --navbar-height: 42px;
  --primary-mobile-gutter: 32px;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-dark-bg);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-underline {
  text-decoration: none;
}