:root {
  /* Primary colors */
  --primary-dark-bg: #03182a;
  --primary-card-bg: #0d2941;
  --primary-blue: #1890ff;
  --primary-purple: #4b6cc1;
  --primary-grey: #bbbdbb;
  --primary-white: #fafafa;
  --primary-black: #181616;
  --primary-green: rgb(86, 180, 86);


  /* House Colors */
  --primary-ravenclaw-color : #173250;
  --primary-slytherin-color : #1c3d38;
  --primary-gryffindor-color : #6b2b2b;
  --primary-hufflepuff-color: #b5803e;
  --primary-horned-serpent-color: #326684;

  /* Distance Variables */
  --navbar-height: 42px;
  --primary-mobile-gutter: 32px;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-dark-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-underline {
  text-decoration: none;
}
