.container {
  
}

.info_container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four_not_four {
  margin: 0;
  margin-bottom: 50px;
  color: var(--primary-white);
  font-size: 128px;
}

.text {
  color: var(--primary-white);
  font-size: 64px;
  margin: 0;
  margin-bottom: 50px;
}


@media only screen and (max-width: 1023px) {
  .four_not_four {
    margin-bottom: 20px;
  }

  .text {
    font-size: 42px;
  }
}
